.chartCanvasContainer {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.chartCanvasSvg {
  display: block;
  overflow: visible;
}

.chartCanvasContentGroup {
  pointer-events: all;
}