.switchContainer {
  @apply flex flex-col mb-2;
}

.switchWrapper {
  @apply flex items-center;
}

.switchWrapper--labelLeft {
  @apply flex-row-reverse justify-end;
}

.switchWrapper--labelLeft .switchLabel {
  @apply mr-2 ml-0;
}

.switchSwitchWrapper {
  @apply relative inline-block;
}

.switchInput {
  @apply absolute opacity-0 w-0 h-0;
}

.switchInput:focus + .switchTrack {
  @apply ring-2 ring-primary-300;
}

.switchInput:checked + .switchTrack .switchKnob {
  transform: translateX(100%);
}

.switchInput:checked + .switchTrack--primary {
  @apply bg-primary-500;
}

.switchInput:checked + .switchTrack--secondary {
  @apply bg-secondary-500;
}

.switchInput:checked + .switchTrack--success {
  @apply bg-success-500;
}

.switchInput:checked + .switchTrack--danger {
  @apply bg-danger-500;
}

.switchTrack {
  @apply flex items-center relative cursor-pointer bg-gray-300 rounded-full transition-all duration-200;
}

/* Sizes */
.switchTrack--sm {
  @apply w-8 h-4;
}

.switchTrack--sm .switchKnob {
  @apply w-3 h-3;
  transform: translateX(2px);
}

.switchTrack--md {
  @apply w-11 h-[22px];
}

.switchTrack--md .switchKnob {
  @apply w-[18px] h-[18px];
  transform: translateX(2px);
}

.switchTrack--lg {
  @apply w-14 h-7;
}

.switchTrack--lg .switchKnob {
  @apply w-6 h-6;
  transform: translateX(2px);
}

/* States */
.switchTrack--disabled {
  @apply opacity-60 cursor-not-allowed bg-gray-200;
}

.switchTrack--error {
  @apply bg-danger-100;
}

.switchTrack--error:not(:checked) {
  @apply border border-danger-500;
}

.switchKnob {
  @apply absolute bg-white rounded-full transition-transform duration-200 shadow-sm;
}

.switchLabel {
  @apply ml-2 text-base text-gray-900 cursor-pointer select-none;
}

.switchLabel--disabled {
  @apply text-gray-400 cursor-not-allowed;
}

.switchHelperText {
  @apply mt-1 text-sm text-gray-600;
}

.switchHelperText--error {
  @apply text-danger-500;
}